/* #region Global */
body {
    color: #434455;
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
}
/* #endregion */

/* region reset */
ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    color: currentColor;
    text-decoration: none;
}
/* #endregion reset */


/* region common */
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

address {
    font-style: normal;
     margin-left: auto;
}


/* header section */

.page-header {
border-bottom: 1px solid #E7E9FC;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-link {
    display: block;
    padding: 24px 0;
        font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contacts:hover {
    color: #404BBF;
}

.contacts:focus {
    color: #404BBF;
}

.logo {
font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.logo:hover,
.logo:focus {
    color: #404BBF;
}

.header-logo {
padding: 24px 0;
margin-right: 76px;
}


.header-logo-studio {
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color:#2e2f42;
}
.header-logo-studio:hover,
.header-logo-studio:focus {
    color: #404BBF;
}

.nav-link {
display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-item {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.nav:hover {
    color:#404bbf;
}
.nav:focus {
    color: #404bbf;
}

/* Основна інформація */

.cta-section {
    text-align: center;
    background-color: #2e2f42;
    padding: 188px 0;
}
.cta-container {
    max-width: 1158px;
    margin: 0 auto;
    align-items: center;
    background-color: #2E2F42;
}
.cta-section-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #ffffff;
        /* background-color: #2E2F42; */
        /* padding: 188px 472px 0 472px; */
        padding-top: 188px;
        max-width: 496px;
        margin: 0 auto;
        }

.button {
    all: unset;
    display: block;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    margin: 48px auto 188px auto;
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}

/* Our Features */

.feature-section {
    padding: 120px 0;
}

.feature-section ul {
display: flex;
flex-wrap: wrap;
justify-content: center;
/* gap: 24px; */
/* width: 100%; */
/* margin: 120px 156px; */
margin: 120px auto;
padding: 120px 0;
 max-width: 1158px;

}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    gap: 24px;
}

.feature-item {
flex: 1 1 240px;
max-width: 264px;
max-width: 264px;
text-align: left;
width: calc((100% - 3 * 24px) / 4);
}


.feature-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}
.features-text {
line-height: 1.5;
letter-spacing: 0.02em;
}

/* Team */
.team {
    width: 100%;
    padding: 120px 0;
    background-color: #F4F4FD;
}

.team-container {
   box-sizing: border-box;
    width: 100%;
}

.team-container ul {
display: flex;
flex-wrap: wrap;
justify-content: center;
/* max-width: 1158px; */
width: 100%;
height: 732px;
margin: 0px auto;
padding: 72px 156px;
align-items: center;
background-color: #F4F4FD;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    padding-top: 120px;
    padding-bottom: 0;
    margin-bottom: 72px;
    margin: 0;
    }

.team-list {
    display: flex;
    gap: 24px;
    padding-top: 232px;
    margin-top: 0;
    }

.member-card {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #FFFFFF;
    min-height: 380px;
    max-width: 264px;
    overflow: hidden;
    width: calc((100% - 3 * 24px) / 4);
}

.team-image {
        background-color: #FFFFFF;
        width: 264px;
        height: 260px;
}

.team-card-text {
    padding: 32px 0;

}

.team-member-name {
    text-align: center;
    padding-top: 32px;
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
}
.team-member-position {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        margin-top: 8px;
      }



/* Portfolio section*/

.portfolio {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 24px;
    padding-top: 120px;
    padding-bottom: 120px;
    
}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-top: 120px;
    padding: 0 0;
    margin-bottom: 72px;
}

.card-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 48px;
        padding: 0;
        margin: 0;
        list-style: none;
        margin-top: 72px;
        justify-content: center;
}


.portfolio-card {
display: flex;
flex-wrap: wrap;
align-items: center;
box-sizing: border-box;
box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
width: 360px;
height: 420px;
width: calc((100% - 48px) / 3);
/* text-align: center; */
/* width: calc((100% - 24px) / 3); */
   }



.portfolio-image {
width: 100%;
height: 300px;
object-fit: cover;
display: block;
max-width: 360px;
min-height: 300px;
margin: 0;

}

.text-box {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    padding: 32px 16px;
    width: 360px;
    height: 120px;
    margin: 0;
}

.portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    /* padding: 32px 226px 64px 16px; */
    margin-bottom: 8px;
}

.features-text {

font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
}


/* Footer */

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #F4F4FD;
}
.logo-footer:hover,
.logo-footer:focus {
   color: #404BBF;
}

.logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-section {
    display: block;
    align-items: center;
    background-color: #2E2F42;
    min-height: 312px;
    margin-top: 4px;
    padding: 100px 0;
    justify-content: flex-start;
    
}

.footer-text-box {
padding: 100px 156px;
}

.footer-text {
    margin-top: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
    text-align: left;
    
}
